# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Environment files (se pasan como variables de entorno en Docker)
.env
.env.*

# IDE
.vscode
.idea

# Logs
*.log
logs

# Tests
coverage
.nyc_output

# Firebase credentials (DEBEN incluirse en el build)
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!nest-cli.json
!jungle--pub-firebase-adminsdk-fbsvc-930299d838.json

# Misc
README.md
*.md
